*, *::after, *::before {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: black;
}
.post {
    max-width: 400px;
    margin: 5% auto;
    background-color: white;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-info {
    display: flex;
    align-items: center;
}
i {
    font-size: 28px;
}
.title > * {
    margin: 0;
}
.logo {
    margin-right: 10px;
}
.icons {
    display: flex;
    justify-content: space-between;
}
.icons-left {
    display: flex;
    gap: 10px;
}
.pad-2 {
    padding: 3%;
}
article {
    padding-bottom: 4%;
}